{% extends 'base.html.twig' %}
{% block title %}
	Offers 2022/2023
{% endblock %}
{% block body %}
	<style>
		h1 {
			padding-top: 100px;
			padding-left: 70px;
			color: white;
			font-size: 4em;
			font-family: "Verdana", Helvetica, sans-serif;
			text-align: left;
		}

		body {
			background-image: url('{{ asset('backGround.jpg') }}');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
		.container {
			padding: 50px;
		}
	</style>


	<h1>OUR MENU</h1>
	<br>
	<div class="container">
		<div class="row row-cols-3">
			{% for food in foods %}
				<div class="card" style="width: 18rem;">
					<div
						class="card-body">
						{# <h5 class="card-title">>{{ trips.id }}</h5> #}
						<p class="card-text">
							<b>{{ food.name }}</b>
						</p>
						<p class="card-text">{{ food.picture }}</p>
						<!--how to load the picture? -->
						<p class="card-text">{{ food.description }}</p>
						<a href="/details/{{ food.id }} " class=" btn btn-success">Details</a>
						<a href="/edit/{{ food.id }} " class=" btn btn-warning">Edit</a>
						<a href="/delete/{{ food.id }} " class=" btn btn-danger">Delete</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
